<!-- Footer -->
<section id="footer">
    <div class="container">
        <div class="row">
            <div class="col-4 col-6-medium col-12-small">
                <section>
                    <header>
                        <h3>Tahurina</h3>
                        <h7> Uruguay ❤</h7>
                    </header>

                </section>
            </div>
            <div class="col-4 col-6-medium col-12-small">
                <section>
                    <header>
                        <h3>Contactanos</h3>

                        <p><h5>Mail</h5></p>
                        <p><a href="#">tahurinauy@gmail.com</a></p>

                        <h5>Whatsapp</h5>
                        <p>+598 098-221995</p>


                    </header>

                </section>
            </div>
            <div class="col-4 col-12-medium">
                <section>
                    <header>
                        <h3>Seguinos</h3>
                    </header>
                    <ul class="social">
                        <li><a class="icon brands fa-instagram" href="#"><span class="label">Instagram</span></a></li>
                        <li><a class="icon brands fa-facebook" href="#"><span class="label">Facebook</span></a></li>
                        <li><a class="icon brands fa-whatsapp" href="#"><span class="label">Tumblr</span></a></li>

                    </ul>
                </section>
            </div>
        </div>
    </div>
</section>
